@model BookingSalonApp.Models.Salon
@{
    ViewData["Title"] = "Salon Details";
}
<div class="container my-4">
    <div class="bg-dark rounded p-5">
        <h1 class="text-center text-white">@Model.Name</h1>
        <p class="text-white">Location: <strong>@Model.Location</strong></p>
        <p class="text-white">Working Hours: <strong>@Model.WorkingHours</strong></p>
        <h3 class="text-white">Services</h3>
        <ul class="list-group mb-3">
            @foreach (var service in Model.Services)
            {
                <li class="list-group-item text-white">@service.Name - @service.Price.ToString("C")</li>
            }
        </ul>
        <h3 class="text-white">Employees</h3>
        <ul class="list-group">
            @foreach (var employee in Model.Employees)
            {
                <li class="list-group-item text-white">@employee.Name</li>
            }
        </ul>
        <div class="mt-4">
            <h3 class="text-white">Find Us Here:</h3>
            <div style="width: 100%">
                <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="@Model.GoogleMapsIframe" allowfullscreen>
                </iframe>
            </div>
        </div>
        <a asp-action="Book" asp-route-salonId="@Model.Id" class="btn btn-primary mt-3">Book Now</a>
    </div>
</div>
<style>
    body {
        background-image: url('https://static.vecteezy.com/system/resources/previews/006/897/001/non_2x/professional-equipment-for-hairdressing-salon-hair-stylist-tools-horizontal-seamless-pattern-linear-icons-haircut-hair-coloring-golden-outline-on-a-black-background-for-printing-banners-vector.jpg');
        background-size: cover;
        background-position: center;
    }
</style>
